body {  
  font-family: Calibri, sans-serif;
  margin: 0;
  background-color: #44474c;
  overflow-x: hidden;
}


#header {
  background-color: #44474c;
  height: 60px;
  position: relative;
  margin: 90px auto 0;
}
#mobil1{
	width: 50%;
	margin-top: 4vw;
}

#header ul {
  margin: 0 auto;
  width: 850px;
  padding: 0;
  list-style: none;
}
#erher{
	background-color: grey;
}

#header ul li {
  float: left;
  width: 120px;
}
#footer{
	width: 100%;
	float: left;
	background-color: grey;
	margin-top: 2vw;
	color: white;
}
.mySlides{
	height: 30vw;
	margin-top: 2vw;
	margin-left: 42.5vw;
}
.venstre{
	margin-left: 40vw;
}
.hoyre{
	margin-left: 18vw;
}
a{
	text-decoration: none;
	color: #bcd6ff;
}
#find{
	float: left;
	margin-left: 20vw;
}
#find img{
	height: 5vw;
}
#iss{
	color: white;
	float: left;
	margin-left: 8vw;
}
#contact{
	float: left;
	margin-left: 10vw;
}
h2{
	font-size: 1em;
}

#header ul li:nth-of-type(3) {
  margin-left: 350px;
}
#designtekst{
	font-size: 1.5em;
}
#header ul li a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 12px 0 0 0;
  height: 28px;
  color: white;
}

#header ul li a:hover {
  background: #636363;
}

.logo {
  position: absolute;
  left: 53.75%;
  margin: -80px 0 0 -108px;
}
#boksen{
    margin-top:10vw;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #44474c;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

.icon {display: none;}

.linje4{
	margin-top: 16vw;
	height: 10vw;
	width: 20vw;
	margin-left: 10vw;
	float: left;
	color: white;
	text-align: center;
}
#tekst {
	color: white; 
	font-size: 25px;
	width: 40%;
	height: auto;
	text-align: center;
	margin-left: 30%;
	margin-top: 8vw;
	
}

#tekst2 {
	color: white; 
	font-size: 25px;
	width: 40%;
	height: auto;
	margin-left: 3%;
	text-align: center;
	float: left;
	margin-bottom: 6vw;
	
}
.holder{
	background-color: #3a3a3a;
	padding: 1vw;
	margin-top: 3vw;
}
#linje3{
	margin-top: 2vw;
	background-color:white;
	height: 8vw;
	width: 1px;
	margin-left: 5vw;
	float: left;
}
#linje2{
	margin-top: 2vw;
	background-color:white;
	height: 8vw;
	width: 1px;
	margin-left: 5vw;
	float: left;
}
#tekst3 {
	color: white; 
	font-size: 25px;
	width: 40%;
	height: auto;
	margin-right: 3%;
	text-align: center;
	float: right;
	margin-bottom: 6vw;
        border-left: 1px solid white;
        padding-left: 7%;
	
}
.bilderoverst{
	margin-top: 12vw;
	float: left;
	width: 50%;
	margin-bottom: 5vw;
}
table{
	width: 100%;
	height: 30vw;
        border-collapse: collapse;
}
#bildernederst1{
	width: 50%;
	height: 30vw;
        padding: 0;
}
#bildernederst2{
	width: 50%;
	height: 30vw;
        padding: 0;
}
.bilderoverst img{
	width: 100%;
	height: 30vw;
}
#bildernederst1 img{
	width: 100%;
	height: 100%;
}
#bildernederst2 img{
	width: 100%;
	height: 100%;
}


@media all and (max-width:60em){
#iss{
	margin-left: 8vw;
}
#contact{
	margin-left: 10vw;
}
.bilderoverst{
	width: 100%;
	height: 100%;
}
#boksen{
    margin-top: 10vw;
}
#bildernederst1{
	width: 50%;
}#bildernederst2{ 
	width: 50%;
}	

#bildernederst1 img{
	width: 100%;
}
#bildernederst2 img{
	width: 100%;
}

.bilderoverst img{
	width: 100%;
	height: 100%;
}
#tekst{
	width: 80%;
	margin:0;
	margin-left: 10%;
}
#tekst2{
	width: 80%;
	margin: 0;
	margin-left: 10%;
	margin-top: 3vw;
}
#tekst3{
	width: 80%;
	margin: 0;
	margin-right: 10%;
	margin-top: 10%;
        border: none;
}
}
@media screen and (max-width: 800px) {
  .logo {
      left: 60%;
    bottom: 100%;
  }
#header{
	  margin: 150px 5% 0;
          padding-left: 7%;
}
  #header ul li:nth-of-type(3) {
    margin-left: 0;
  }
  
  #header ul {
    width: auto;
    position: relative;
	
  }
}
@media screen and (max-width:600px) {
  ul.topnav li:not(:first-child) {display: none;}
  .icon {
    float: right;
    display: inline-block;
    color: #f2f2f2;
    text-decoration: none;
    padding: 0 16px;
    height: 15vw;
    width: 15vw;
  }
  .icon img{
      height: 100%;
      width: 100%;
  }
}

@media screen and (max-width:600px) {
  ul.topnav.responsive {position: relative;}
#header ul li {
  float: none;
}

  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    background-color:  #303236;
    margin-left: 10%;
  }
}  
@media(max-width: 700px){
#find{
	margin-left: 3vw;
	font-size: 14px;
}
#iss{
	margin-left: 4vw;
	font-size: 13px;
}
#contact{
	margin-left: 3vw;
	font-size: 14px;
}
.mySlides{
	height: 50vw;
}
.hoyre{
	margin-left: 23vw;
}
}
@media(max-width: 1024px){
    #boks21{
        margin-top: 0;
    }
        #footer{font-size: 1.9vw;}
	#find{
            margin-left:10vw;
            padding-left: 10%}
	}

@media(max-width:630px){
	
	#find{padding-left: 10%;}
        #find, #iss, #contact{
            font-size: 9px;
        }
    }

@media(max-width: 550px){
    .linje4{
        margin-top: 5vw;
    }
}