body{
	margin: 0em;
	font-family: sans-serif;
}
#hovedside{
	margin-left: 26%;	
}

#sidemenu{
	position: fixed;
	width: 26%;
	height: 100%;
	background-color: #44474c; /* #161b25 liker den best <3 */
}
/* not the same as the one above this is for det sidemenu on smaller devices */
#knapp{
	display:none;
	position: absolute;
	color: white;
	left: 1%;
	top: 1%;
}
#butt{
	text-decoration:none;
	background-color: inherit;
	border: none;
	color: white;
	font-size: 30px;
}
.sidemeny {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #44474c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	display: none;
}
.sidemeny a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
	display: none;
}


.sidemeny a:hover, .offcanvas a:focus{
    color: grey;
	display: none;
}.sidemeny .lukk {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
	display: none
}
#underbilde{
	position:fixed;
	opacity: 0.7;
	z-index: -10;
	width: 74%;
	margin-left: 26%;
}
#underbilde img{
	width: 100%;
}
#boks1{
	width: 100%;
	background-color: #eaeaea;
	overflow:hidden;
}

.hover {
    display: block;
    padding: 0vw 1vw 2vw 4vw;
    margin-bottom: 3em;
}

li a {
    color: #00cccc;
    text-decoration: none;
}

li a:hover{
    color: #008080;
}


#logo{
	margin: 6vw 0vw 3vw 4vw;
}
#logo img{width: 35%;}

.btn{
	border: none;
	background-color: inherit;
	font-size: 20px;
	color:white;
	text-decoration:none;
}
.tekstmenu{
	color: white;
	text-decoration: none;
	list-style-type: none;
	margin-top: 5em;
}
.tekst{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}
#indrelitenboks1{
	width: 20%;
	height: 13vw;
	float: left;
	padding-left: 6.65%;
	padding-right: 6.62%;
	padding-top: 3em;
	background-color: #ddeaff;
	text-align: center;
	transition-duration: 0.5s;
}
#indrelitenboks1:hover{
	background-color:  #b3d0ff; 
}
#indrelitenboks2{
	width: 20%;
	height: 13vw;
	float: left;
	padding-left: 6.62%;
	padding-right: 6.62%;
	padding-top: 3em;
	background-color: #cbd8ed;
	text-align: center;
	transition-duration: 0.5s;
}
#indrelitenboks2:hover{
	background-color: #b4c6e4;
}
#indrelitenboks3{
	width: 20%;
	height: 13vw;
	float: left;
	padding-left: 6.62%;
	padding-right: 6.84%;
	padding-top: 3em;
	background-color: #d3e4ff;
	text-align:center;
	transition-duration: 0.5s;
}
#indrelitenboks3:hover{
	background-color: #b3d1ff;
}
#indrelitenboks1 img{
	margin-left: 5%;
	margin-top: 15%;
	width: auto;
	max-width:60%;
   max-height:60%;
}
#indrelitenboks2 img{
	margin-top: 10%;
	width: auto;
	max-width:80%;
   max-height:80%;
}
#indrelitenboks3 img{
	margin-top: 9%;
	width: auto;
	max-width:90%;
   	max-height:90%;
}
#nyboks{
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0;
	overflow-x: hidden;
	margin:0;
	margin-top: 20%;
	background-color: grey;
}

#issues{
	position: absolute;
	padding: 2%;
	right: 0;
	top:0;
	bottom: 0;
	background-color: rgba(220, 223, 229 , 0.7);
}
#vedsidenav{
	width: 80em;
	height: 27em;
}
input{
	border: #ffffff solid 1px;
	padding: 0.5em;
}
textarea {
border: none;
outline: none;
}

.contact{
	margin:0;
	font-size: 2.5em;
}
footer {
    background-color: grey;
    background-position: center; 
    height: 10vw;    
}


/**********  Animated words on the top f the main page  **********/

.animated-words{
		height: 34vw;
	}

.animated-words h2{
	margin-top: 3em;
	font-size:5vw;
	text-transform:uppercase;
	font-family:sans-serif;
	height: 2.25em;
	}

.the-word-save{
	margin-left: 6%;
	float:left;
	position:relative;
	display:inline-block
	}

ul.changing-words-list{
	float:left;
	position:relative;
	display:inline-block;
	margin:0;
	padding:0;
	
	}

li.word-0,li.word-1,li.word-2,li.word-3,li.word-4,li.single-word{
	list-style:none;
	margin:0;
	display:block;
	width: 42em;
	position:absolute;
	top:0
	}

.word-0,.word-1,.word-2,.word-3,.word-4{
	padding:0 0 0 1em;
	letter-spacing:-1px;
	}

@media(min-width:620px){
	.word-0,.word-1,.word-2,.word-3,.word-4{
		padding:0 0 0 2em;
		letter-spacing:-4px;
		}}

.word-0,.word-1,.word-2,.word-3{
	color:white;
	}
.word-4{
	color:white;
	}

.single-word{
	color:white;
	}

.word-0,.word-1,.word-2,.word-3,.word-4{
	opacity:0;
	-webkit-animation:fade 15s infinite linear;
	-moz-animation:fade 15s infinite linear;
	animation:fade 15s infinite linear;
	}

.word-0{
	-webkit-animation-delay:0s;
	-moz-animation-delay:0s;
	animation-delay:0s
	}
.word-1{
	-webkit-animation-delay:3s;
	-moz-animation-delay:3s;
	animation-delay:3s
	}
.word-2{
	-webkit-animation-delay:6s;
	-moz-animation-delay:6s;
	animation-delay:6s
	}
.word-3{
	-webkit-animation-delay:9s;
-moz-animation-delay:9s;
animation-delay:9s;}
.word-4{
	-webkit-animation-delay:12s;
-moz-animation-delay:12s;
animation-delay:12s;
}

@-webkit-keyframes fade{
	0%{opacity:0}
	10%{opacity:1}
	15%{opacity:1}
	20%{opacity:1}
	25%{opacity:0}
	30%{opacity:0}
	35%{opacity:0}
	40%{opacity:0}
	45%{opacity:0}
	50%{opacity:0}
	55%{opacity:0}
	60%{opacity:0}
	65%{opacity:0}
	70%{opacity:0}
	75%{opacity:0}
	80%{opacity:0}
	85%{opacity:0}
	90%{opacity:0}
	95%{opacity:0}
	100%{opacity:0}}
	@-moz-keyframes fade
	{0%{opacity:0}
	10%{opacity:1}
	15%{opacity:1}
	20%{opacity:1}
	25%{opacity:0}
	30%{opacity:0}
	35%{opacity:0}
	40%{opacity:0}
	45%{opacity:0}
	50%{opacity:0}
	55%{opacity:0}
	60%{opacity:0}
	65%{opacity:0}
	70%{opacity:0}
	75%{opacity:0}
	80%{opacity:0}
	85%{opacity:0}
	90%{opacity:0}
	95%{opacity:0}
	100%{opacity:0}}
	@keyframes fade
	{0%{opacity:0}
	10%{opacity:1}
	15%{opacity:1}
	20%{opacity:1}
	25%{opacity:0}
	30%{opacity:0}
	35%{opacity:0}
	40%{opacity:0}
	45%{opacity:0}
	50%{opacity:0}
	55%{opacity:0}
	60%{opacity:0}
	65%{opacity:0}
	70%{opacity:0}
	75%{opacity:0}
	80%{opacity:0}
	85%{opacity:0}
	90%{opacity:0}
	95%{opacity:0}
	100%{opacity:0}}

/*******  Media Stuff  ********/

@media(max-width: 450px){
	#issues{
		text-align: center;
		margin-right: 6vw;
		padding-left: 3vw;
		
	}

}
@media screen and (max-height: 450px) {
  .sidemeny {padding-top: 15px;}
  .sidemeny a {font-size: 18px;}
}
@media (max-width: 1024px){
	.sidemeny{
		display: block; 
	}
	.sidemeny a{
		display: block;
	}
	.sidemeny a:hover, .offcanvas a:focus{
		display: block;
	}
	.sidemeny .lukk{
		display: block;
	}
	#knapp{
		display: block;
	}
	
	
}
@media(max-width: 550px){
	#sidemenu{
		display:none;
	}
	#hovedside{
		margin-left: 0;
	}
	#underbilde{
		margin-left: 0;
		width: 100%;
	}
	.animated-words{
		background-color: #44474c;
		background-image: url("logo.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 20% 60%;
	}
	.animated-words h2{
		display:none;
		padding: 0;
	}
}
@media(min-width:620px){
	.animated-words{
		padding:0 3.5em
		}
	}
@media(max-width: 850px){
	#nyboks{
		background-image: none;	
	}
}
@media(max-width:900px){
	#indrelitenboks2 img{
		margin-top: -20%;
	}
	#indrelitenboks1 img{
		margin-top: -15%;
	}
	#indrelitenboks3 img{
		margin-top: -20%;
	}
	#vedsidenav{
		filter: blur(5px);
	}
}

@media(max-width: 1024px){
	#sidemenu{
		display:none;
	}
	#hovedside{
		margin-left: 0;
	}
	#underbilde{
		margin-left: 0;
		width: 100%;
	}
	.animated-words{
		background-color: #44474c;
		background-image: url("litenlogo.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 40% 80%;
	}
	.animated-words h2{
		display:none;
		padding: 0;
	}
}

